@{
    ViewBag.Title = "Strona Główna";
}

<h1>
    Komunikaty
</h1>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">
        Komunikat bezpośredni - @DateTime.Now.ToString("yyyy/MM/dd HH:mm") przez: System
    </h4>
    <p>Koordynator zapisał cię na służbę (Linia 0-01A) w dniu: 2019/05/25</p>
</div>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
        Komunikat publiczny - @DateTime.Now.ToString("yyyy/MM/dd HH:mm") przez: Tomasz Bielecki
    </h4>
    <p>W dniu 2019/05/25 na brygadę 0-01 wyjedzie skład Ring + ND</p>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>