
@{
    ViewBag.Title = "Brak uprawnień";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">@ViewBag.Title</h4>
    <p>Nie masz wystarczających uprawnień do wyświetlenia tej strony.</p>
</div>

