@page "/"

<h2>Witamy w systemie zarządzania służbami konduktorskimi Krakowskiej Linii Muzealnej!</h2>

<h4>Komunikaty dla konduktorów:</h4>
@for (var i = 1; i <= 10; i++)
{
    var header = $"Header {i}";
    var body = $"Body {i}";
    foreach (var type in types)
    {
        <Announcement HeaderText="@header" BodyText="@body" Type="@type" />
    }
}

@code
{
    private string[] types = {
        "bg-info",
        "bg-success",
        "bg-warning",
        "bg-danger",
        "bg-info",
        "bg-success",
        "bg-warning",
        "bg-danger",
        "bg-info",
        "bg-success"
    };
}
